<div class="container-fluid py-4">
    <div class="row mb-3">
        <div class="col-md-6 bor">
            <button class="btn btn-primary" (click)="openCreateSpace()">
                Créer utilisateur
            </button>
        </div>
        <div class="col-md-6 bor"></div>
    </div>


    <div class="row" style="margin: 3rem;" *ngIf="state.createSpace">
      <h5>Formulaire de création d'utilisateur</h5>
      <br><br>
      <form method="POST" (ngSubmit)="createUsers($event)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text"  [(ngModel)]="userCreate.firstName" name="firstName" class="form-control" id="exampleFormControlInput1" placeholder="Entrez le nom">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text"  [(ngModel)]="userCreate.lastName" name="lastName" class="form-control" id="exampleFormControlInput1" placeholder="Entrez le prénom">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group mb-4">
                <input type="email"  [(ngModel)]="userCreate.email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Entrez l'adresse e-mail">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group has-success">
              <input type="text"  [(ngModel)]="userCreate.tel" name="tel" class="form-control" id="exampleFormControlInput1" placeholder="Entrez le numéro de téléphone">
            </div>
          </div>
        </div>
        <div class="row">          
          <div class="col-md-12">
            <div class="form-group has-danger">
              <input type="text"  [(ngModel)]="userCreate.house" name="house" class="form-control" id="exampleFormControlInput1" placeholder="Entrez le lieu d'habitation">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            
          </div>
          <div class="col-md-6">
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            
          </div>
          <div class="col-md-6">
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            
          </div>
          <div class="col-md-6">
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <small *ngIf="state.err.state" class="text-danger">{{ state.err.text }}</small>
            <button class="btn btn-primary btn-lg btn-lg w-100" type="submit" *ngIf="state.send === false">Valider</button>
            <button class="btn btn-primary mb-2 btn-lg btn-lg w-100" type="button" disabled *ngIf="state.send === true">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              chargement...
            </button>
          </div>
        </div>
      </form>
    </div>

    <div align="center" *ngIf="state.load === false">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="row" *ngIf="state.load === true">
      
        <table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="users">
            <thead>
              <tr>                
                <th>Noms & prénoms</th>
                <th>Adresse Email</th>
                <th>Habitation</th>
                <th>Numéro téléphone</th>
                <!-- <th>Poste</th> -->
                <th>Statue Connexion</th>
                <th>Date Création</th>
                <th *ngIf="(userRole.role === 'system_administrator')"></th>
                <th *ngIf="(userRole.role === 'system_administrator')"></th>
                <th *ngIf="(userRole.role === 'system_administrator')"></th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let user of users">                
                <td>{{ user.firstName + ' ' + user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.house }}</td>
                <td>{{ user.tel }}</td>
                <!-- <td>{{ user.post }}</td> -->
                <td class="text-success" *ngIf="user.isConnected === 'true'">Connecté</td>
                <td class="text-danger" *ngIf="user.isConnected === 'false'">Déconnecté</td>
                <td>{{ user.created_at }}</td>
                <td *ngIf="(userRole.role === 'system_administrator')">
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Modifier
                  </button>
                </td>
                <td *ngIf="(userRole.role === 'system_administrator')">
                  <button class="btn btn-danger btn-sm">
                    Supprimer
                  </button>
                </td>
                <td *ngIf="(userRole.role === 'system_administrator')">
                  <button class="btn btn-info btn-sm">
                    password
                  </button>
                </td>
              </tr>              
            </tbody>
          </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>